/* 共通のスタイル */

h1, p, body {
  margin: 0;
}

p, a {
  font-size: 20px;
}


/* ヘッダーのスタイル */
.header-title {
  color: rgb(255, 255, 255);
  background-color:  rgb(244, 79, 79);
  text-align: center;
}

.header{
  margin-bottom: 20px;
}

/* メインのスタイル */
main {
  padding: 10px;
}

#parent {
  display: flex;
  justify-content: space-between;
}

.contents {
  flex-basis: 25%;
  border: 3px solid rgb(238, 204, 204);
  padding: 10px 15px;
  margin: 20px 0;
  text-align: center;
}

.contents img {
  margin: 10px 0;
  width: 70%;
}

h2 {
  font-size: 25px;
  border-bottom: 3px dotted rgb(236, 122, 122);

}

h2::before {
  content: "⚫︎";
  color: rgb(239, 111, 139);
}


.contents p:nth-of-type(2)::first-letter {
  color: rgb(97, 206, 249);
  font-weight: bold;
}

/* フッターのスタイル */

.footer {
  background-color: rgb(244, 79, 79);
  text-align: center;
}

.footer a {
  color: rgb(255, 255, 255);
}

.footer a:visited {
  color: rgb(193, 234, 251);
}

.footer a:hover {
  color: rgb(245, 178, 168);
}

/* 画面幅768px以下のスタイル */
@media (max-width: 768px) {
  h2 {
      font-size: 30px;
  }

  p {
      font-size: 25px;
  }

  #parent {
      flex-direction: column;
  }
}